@model EleniGeorge.Models.GalleryItem

@{
    var srcUrl = "";
    if (!string.IsNullOrEmpty(Model.ImgUrl))
    {
        srcUrl = @Url.Content(Model.ImgUrl);
    }
}
<div class="item" style="float: left; width: 24%; height: 250px; margin-top: 10px; margin-left: 1%">
    <img class="item-img" src="@srcUrl" style="height: 200px; width: 100%">
    <div class="text-center">@Model.Name</div>
    <div class="text-center">$@Model.Price</div>
</div>
