<div id="marketing-banner">
    <div class="data-info-box">
        <p class="data-info-title">Ads Title</p>
        <hr />
        <p class="data-info-details">Ads Descriptions</p>
    </div>
    <div class="data-info-box">
        <p class="data-info-title">Ads Title</p>
        <hr />
        <p class="data-info-details">Ads Descriptions</p>
    </div>
    <div class="data-info-box">
        <p class="data-info-title">Ads Title</p>
        <hr />
        <p class="data-info-details">Ads Descriptions</p>
    </div>
    <div class="data-info-box">
        <p class="data-info-title">Ads Title</p>
        <hr />
        <p class="data-info-details">Ads Descriptions</p>
    </div>
    <div class="data-info-box">
        <p class="data-info-title">Ads Title</p>
        <hr />
        <p class="data-info-details">Ads Descriptions</p>
    </div>
</div>
