@model EleniGeorge.Models.HomeIndexModel

@{
    ViewBag.Title = "Index";
}

<p>Home > Alfred Test</p>

<div class="row" style="background-color: #ddd9d9; margin-bottom: 35px">
    <div id="sidebar" class="col-lg-3">
        @Html.Partial("_IndexSiderBar", @Model.siderbar)
    </div>

    <div class="col-lg-9">
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(function () {
            $("#sidebar-cate").css("height", $("#sidebar-cate > ul > li").size() * 20 + 25);
            $("#sidebar-size").css("height", $("#sidebar-size > ul > li").size() / 2 * 20 + 25);
            $("#sidebar-color").css("height", $("#sidebar-color > ul > li").size() / 2 * 20 + 25);
        });
    </script>
}