
@{
    ViewBag.Title = "Eleni George";
}

<div id="bkg-img">
    <img style="width:100%; height: 100%" src="~/Images/landingpage.jpg">
</div>

<div class="text-center" style="font-size: 2em; background-color: #808080">
    BE CLASSY AND FABULOUS (SLOGEN)
</div>

@Html.Partial("_LandingPageCard")

@section scripts {
<script type="text/javascript">

    $(function () {
         
    });
    
</script>
}