@model EleniGeorge.Models.AccountModel

@{
    ViewBag.Title = "Eleni George";
}

@section header {

    @Html.Partial("_CommenHeader", @Model)
}

@Styles.Render("~/Content/Landing.css")
<div id="bkg-img">
    <img src="~/Images/landingpage.jpg" />
</div>

<p id="slogan-text">
    BE CLASSY AND FABULOUS (SLOGEN)
</p>

@Html.Partial("_LandingPageCard")

@section scripts {
    <script type="text/javascript">

        $(function () {

        });

    </script>
}