@{
    ViewBag.Title = "Profile";
}

<h2 style="margin-left: 50px">MY ACCOUNT</h2>

<div style="margin-left: 30px; margin-right: 30px; width: 95%; height: 100%; border: 1px solid #808080">
</div>

<div style="padding-left: 20px; padding-top: 10px; margin-top: 20px">
    <p style="font-size: 1.1em">PERSONAL DETAILS:</p>
    <table border="1" cellspacing="0" cellpadding="0" width="95%" style="border: 1px solid #808080">
    	<tr style="border: 1px solid #808080; padding: 5px 10px">
    		<td style="border: 1px solid #808080; background-color: #f395f7">FAMILY NAME</td>
    		<td></td>
    	</tr>
    	<tr style="border: 1px solid #808080; padding: 5px 10px">
    		<td style="border: 1px solid #808080; background-color: #f395f7">GIVEN NAME</td>
    		<td></td>
    	</tr>
    	<tr style="border: 1px solid #808080; padding: 5px 10px">
    		<td style="border: 1px solid #808080; background-color: #f395f7">EMAIL ADDRESS</td>
    		<td></td>
    	</tr>
    	<tr style="border: 1px solid #808080; padding: 5px 10px">
    		<td style="border: 1px solid #808080; background-color: #f395f7">DATE OF BIRTH</td>
    		<td></td>
    	</tr>
    </table>

    <br />
    <button class="btn btn-lg" >EDIT</button>
</div>

<div style="padding-left: 20px; padding-top: 10px; margin-top: 20px">
    <p style="font-size: 1.1em">POSTAL ADDRESS:</p>
    <table border="1" cellspacing="0" cellpadding="0" width="95%" style="border: 1px solid #808080">
    	<tr style="border: 1px solid #808080; padding: 5px 10px">
    		<td style="border: 1px solid #808080; background-color: #f395f7">331 Punt RD, Vic 3141</td>
    	</tr>
    </table>

    <br />
    <button class="btn btn-lg" >EDIT/ADD</button>
</div>

<div style="padding-left: 20px; padding-top: 10px; margin-top: 20px">
    <p style="font-size: 1.1em">MY ORDERS:</p>
    <table border="1" cellspacing="0" cellpadding="0" width="95%" style="border: 1px solid #808080">
    	<tr style="border: 1px solid #808080; padding: 5px 10px">
    		<th style="border: 1px solid #808080; background-color: #f395f7">ORDER NO</th>
    		<th style="border: 1px solid #808080; background-color: #f395f7">ORDER DATE</th>
    		<th style="border: 1px solid #808080; background-color: #f395f7">REFRENCE NO</th>
    		<th style="border: 1px solid #808080; background-color: #f395f7">STATUS</th>
    		<th style="border: 1px solid #808080; background-color: #f395f7">SUBTOTAL</th>
    	</tr>
    </table>
    <br />
</div>