@model EleniGeorge.Models.AccountModel

@{
    ViewBag.Title = "SignInView";
}

@section header {

    @Html.Partial("_CommenHeader", @Model)
}

<h2 style="margin-left: 50px">SIGN IN</h2>

<div style="margin-left: 30px; margin-right: 30px; width: 95%; height: 100%; border: 1px solid #808080">
</div>

<div class="row">
    <div class="pull-left" style="height: 600px; background-color: #d0bbbb; width: 48%; padding-left: 15%; padding-top: 30px; margin-top: 20px">
        <p style="font-size: 1.5em">EXISTING CUSTOMER:</p>
        <br />
        <p style="font-size: 1.1em">EMAIL:</p>
        <input type="text" style="width: 60%">
        <br />
        <p style="font-size: 1.1em; margin-top: 20px">PASSWORD:</p>
        <input type="text" style="width: 60%">
        <br />
        <div class="checkbox" style="margin-left: 30px; margin-top: 20px; margin-bottom: 0px">
            <label style="padding-left: 0px; font-size:1.0em">
                <input type="checkbox">REMEBER ME
            </label>
        </div>

        <br />
        <div>
            <button class="btn btn-lg" style="background-color: #808080">SIGN IN</button>
            <button class="btn btn-link">FORGET MY PASSWORD</button>
        </div>
    </div>

    <div class="pull-left" style="height: 800px; background-color: white; width: 48%; padding-left: 15%; padding-top: 30px; margin-top: 20px">
        <p style="font-size: 1.5em">NEW TO ELENI GEORGE:</p>
        <br />
        <p style="font-size: 1.1em">EMAIL:</p>
        <input type="text" style="width: 60%">
        <br />
        <p style="font-size: 1.1em; margin-top: 20px">PASSWORD:</p>
        <input type="text" style="width: 60%">
        <br />
        <p style="font-size: 1.1em; margin-top: 20px">CONFIRM PASSWORD:</p>
        <input type="text" style="width: 60%">
        <br />
        <div style="margin-top: 30px">
            <button class="btn btn-lg" style="background-color: #808080">REGISTATOR</button>
        </div>
    </div>
</div>
